
.active-link {
  font-size: large;
    color: #fff; 
    border-bottom: 2px solid #fff; 
  }

.selected {
    color: #ff0046 !important;
    border-bottom: 2px solid #ff0046; 
}

.selected-home {
  color: #ff0046 !important;
}

.home-link:hover {
  color: #ff0046;
}

.home-link {
  color: white;
}

.active-link:hover {
  color: #ff0046 !important;
  border-bottom: 2px solid #ff0046;
}
  
.navbar-custom {
  background-color: #011f29; 
}

.hamburger-menu {
  background-color: white;
}

body {
  background-color: #010a0f;
  color: white
}

.form-button {
  background-color: #ff0046;
  border:solid 2px #ff0046;
}


.form-button:active {
  background-color: #010a0f !important;
  border:solid 2px #ff0046 !important;
}


.form-button:hover {
  background-color: #010a0f;
  border:solid 2px #ff0046;
}

.outline-form-button {
  background-color: #010a0f;
  border: solid 2px #ff0046;
}

.outline-form-button:hover {
  background-color: #ff0046;
  border: solid 2px #ff0046;
}

.outline-form-button:active {
  background-color: #ff0046 !important;
  border: solid 2px #ff0046 !important;
}

.card-news {
  background-color: #011f29; 
  color: white
}

.navbar-logo {
  width: 40px; 
  height: auto;
  margin-right: 10px; 
}

.card-img {
  height: 400px; /* Adjust the height as needed */
}
