
.active-link {
  font-size: large;
    color: #fff; 
    border-bottom: 2px solid #fff; 
  }

.selected {
    color: #ff0046 !important;
    border-bottom: 2px solid #ff0046; 
}

.selected-home {
  color: #ff0046 !important;
}

.home-link:hover {
  color: #ff0046;
}

.home-link {
  color: white;
}

.active-link:hover {
  color: #ff0046 !important;
  border-bottom: 2px solid #ff0046;
}
  
.navbar-custom {
  background-color: #011f29; 
}

.hamburger-menu {
  background-color: white;
}

body {
  background-color: #010a0f;
  color: white
}

.form-button {
  background-color: #ff0046;
  border:solid 2px #ff0046;
}


.form-button:active {
  background-color: #010a0f !important;
  border:solid 2px #ff0046 !important;
}

.form-button:disabled {
  background-color: #ff0046;
  border:solid 2px #ff0046;
}

.form-button:hover {
  background-color: #010a0f;
  border:solid 2px #ff0046;
}

.form-button-profile {
  border:solid 2px #006eff;
}

.form-button-profile:active {
  background-color: #010a0f !important;
  border:solid 2px #006eff !important;
}

.form-button-profile:hover {
  background-color: #010a0f;
  border:solid 2px #006eff;
}

.outline-form-button {
  background-color: #010a0f;
  border: solid 2px #ff0046;
}

.outline-form-button:hover {
  background-color: #ff0046;
  border: solid 2px #ff0046;
}

.outline-form-button:active {
  background-color: #ff0046 !important;
  border: solid 2px #ff0046 !important;
}

.card-news {
  background-color: #011f29; 
  color: white
}

.navbar-logo {
  width: 40px; 
  height: auto;
  margin-right: 10px; 
}

.card-img {
  height: 400px; /* Adjust the height as needed */
}

.filter-button {
  margin-top: 30px;
}

.page-link {
  background-color: #011f29;
  border: 1px solid #ff0046;
  color: white;
}

.page-link:hover {
  background-color: #ff0046;
  border: 1px solid #011f29;
  color: white;
}

.page-item.active .page-link{
  background-color: #ff0046;
  border: 1px solid #ff0046;
  color: white;
}

.page-item.disabled .page-link {
  background-color: #212529;
  border: 1px solid #ff0046;
  color: white;
}

.preferiti-button {
  margin-left: 1rem;
}

.preferiti-button.pb-active {
  background-color: #011f29;
  border:solid 2px #ff0046;
}

.preferiti-button.pb-active:active {
  background-color: #011f29 !important;
  border:solid 2px #ff0046 !important;
}

.preferiti-button.pb-active:hover {
  background-color: #ff0046;
  border:solid 2px #011f29;
}

.preferiti-button.pb-active:hover svg{
  color: #011f29 !important;
}

.preferiti-button.pb-disabled {
  background-color: #ff0046;
  border:solid 2px #011f29;
}

.preferiti-button.pb-disabled:active {
  background-color: #ff0046 !important;
  border:solid 2px #011f29 !important;
}

.preferiti-button.pb-disabled:hover {
  background-color: #011f29;
  border:solid 2px #ff0046;
}

.preferiti-button.pb-disabled:hover svg{
  color: #ff0046 !important;
}

.ticket-purchase-button {
  background-color: #007bff; /* Button background color */
  color: #ffffff; /* Button text color */
}

.ticket-purchase-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.ticket-remaining-button {
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove button border */
  cursor: pointer;
  font-size: 16px; /* Font size */
  text-align: center;
}

.ticket-remaining-count {
  font-weight: bold; /* Make the count bold */
  font-size: 18px; /* Font size for the count */
  margin-right: 8px; /* Space between count and "Tickets Remaining" text */
}

/* Add hover styles if needed */
.ticket-remaining-button:hover {
  background-color: #45a049; /* Darker green background on hover */
}

#square-container {
  width: 200px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border: 2px solid #00FF00; /* Green border */
  display: flex;
  justify-content: center;
  align-items: center;
}

#square-message {
  font-size: 16px; /* Adjust the font size as needed */
  text-align: center;
}

.hr-card {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.348);
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

#ModalHeader{
  background-color: #1b1e21;
}

.modalProfile{
  background-color: #212529;
}

.modalProfile{
  background-color: #212529;
}

.footerProfile{
  justify-content: center;
}
